html {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

header{
    font-size: 200%;
    color: black;
}

body {
    text-align: center;
    background-color: white;
    }

.gallery-parent {
    //text-align: center;
    margin: 0 auto;
    //width: 60rem;
    height: 80rem;
    width: 40rem;
}

.gallery {
    position: relative;
}

.pd6-photo {
    height: 30rem;
    position: absolute;
    transition: all 0.3s;
}

.yum {
    top: 13rem;
    left: 0;
}

.yum2{
    top: 25rem;
    right: -20rem;
}

.yum3{
    top: 4rem;
    left: 65%;
}

.yum4{
    top: 50rem;
    left: 40%;
}

.pd6-photo:hover {
    transform: scale(1.3);
    outline: 1rem solid white;
    z-index: 2;
}

.gallery:hover .pd6-photo:not(:hover) {
    transform: scale(0.5);
    opacity: 0.3;
}

.click-me-parent{
    width: 40rem;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-me{
    background-color: #c2185b;
    height: 10rem;
    width: 30rem;
    border-radius: 15px;
    font-size: 5rem;
    text-decoration: none;
    top: 5rem;
}

.click-me:hover{
    transform: scale(1.3);
    transition: all 1.0s;
    background-color: orchid;
    box-shadow: 10px 5px 5px black;
}

.ice-cream-parent{
//text-align: center;
margin: 0 auto;
//width: 60rem;
height: 30rem;
width: 15rem;
}

.ice-cream{
    position: relative;
}

.yum5{
    top: 15rem;
    transition: all 1.0s;
    height: 30rem;
    filter: grayscale(100);
    top: 25rem;
}

.yum5:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}

.ice-cream2{
    position: relative;
}

.yum6{
    top: 30rem;
    transition: all 2.0s;
    height: 30rem;
}

.yum6:hover{
    transform: rotate(1080deg);
}

.ice-cream3{
    position: relative;
}

.yum7{
    top: 45rem;
    transition: all 1.0s;
    height: 30rem;
}

.yum7:hover{
    opacity: 0;
}

.animation-parent{
    width: 20rem;
    height: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation{
    animation-duration: 2.0s;
    animation-name: animation;
}

@keyframes animation{
    from{
        margin-left: 700%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}